<!DOCTYPE html>
<html ng-app="BackofficeApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Smartmuseum</title>
  <!-- Bootstrap core CSS-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">
</head>

<body class="bodyBG">
  <!--div class="container" ng-repeat=""-->
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Edit Evidence</div>
      <div class="card-body">
        <form>
            <!-- coppia -->
          <div class="form-group" >
            <div class="form-row">
              <div class="col-md-6">
                <label for="owner">Owner</label>
                <input class="form-control" id="owner" ng-model="evidence.owner" type="text" aria-describedby="nameHelp" placeholder="Enter owner">
              </div>
              <!--div class="col-md-6">
                <label for="possessor_id">Owner id</label>
                <input class="form-control" id="ownerId" ng-model="evidence.ownerId" type="text" aria-describedby="nameHelp" placeholder="Enter possessor">
              </div-->
            </div>
          </div>
            <!-- coppia -->
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="number">Number</label>
                <input class="form-control" id="number" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="evidence.number" type="text" aria-describedby="nameHelp" placeholder="Enter number">
              </div>
              <div class="col-md-6">
                <label for="domain">Domain</label>
                <input class="form-control" id="domain" ng-model="evidence.domain" type="text" aria-describedby="nameHelp" placeholder="Enter domain">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="type">Type</label>
                <input class="form-control" id="type" ng-model="evidence.type" type="text" aria-describedby="nameHelp" placeholder="Enter type">
              </div>
              <div class="col-md-6">
                <label for="title">Title</label>
                <input class="form-control" id="title" ng-model="evidence.title" type="text" aria-describedby="nameHelp" placeholder="Enter title">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="material">Material</label>
                <input class="form-control" id="material" ng-model="evidence.material" type="text" aria-describedby="nameHelp" placeholder="Enter material">
              </div>
              <div class="col-md-6">
                <label for="technique">Technique</label>
                <input class="form-control" id="technique" ng-model="evidence.technique"type="text" aria-describedby="nameHelp" placeholder="Enter technique">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="culture">Culture</label>
                <input class="form-control" id="culture" ng-model="evidence.culture" type="text" aria-describedby="nameHelp" placeholder="Enter culture">
              </div>
              <div class="col-md-6">
                <label for="period">Period</label>
                <input class="form-control" id="period" ng-model="evidence.period" type="text" aria-describedby="nameHelp" placeholder="Enter period">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="author">Author</label>
                <input class="form-control" id="author" ng-model="evidence.author" type="text" aria-describedby="nameHelp" placeholder="Enter author">
              </div>
              <div class="col-md-6">
                <label for="dimensions">Dimensions</label>
                <input class="form-control" id="dimensions" ng-model="evidence.dimensions" type="text" aria-describedby="nameHelp" placeholder="Enter dimensions">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="weight">Weight</label>
                <input class="form-control" id="weight" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="evidence.weight" type="text" aria-describedby="nameHelp" placeholder="Enter weight">
              </div>
              <div class="col-md-6">
                <label for="value">Value</label>
                <input class="form-control" id="value" ng-model="evidence.value" type="text" aria-describedby="nameHelp" placeholder="Enter value">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="otherData">Other_data</label>
                <input class="form-control" id="otherData" ng-model="evidence.otherData" type="text" aria-describedby="nameHelp" placeholder="Enter other_data">
              </div>
              <div class="col-md-6">
                <label for="restauration">Restauration</label>
                <input class="form-control" id="restauration" ng-model="evidence.restauration" type="text" aria-describedby="nameHelp" placeholder="Enter restauration">
              </div>
              
            </div>
          </div>
        
           <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="description">Description</label>
                <input class="form-control" id="description" ng-model="evidence.description" type="text" aria-describedby="nameHelp" placeholder="Enter description">
              </div>
              
              <div class="col-md-6">
                <label for="originPlace">origin place</label>
                <input class="form-control" id="originPlace" ng-model="evidence.originPlace" type="text" aria-describedby="nameHelp" placeholder="Enter origin_place">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="storageLocation">Storage Location</label>
                <input class="form-control" id="storageLocation" ng-model="evidence.storageLocation" type="text" aria-describedby="nameHelp" placeholder="Enter storage_location">
              </div>
              <div class="col-md-6">
                <label for="historicInformation">Historic Information</label>
                <input class="form-control" id="historicInformation" ng-model="evidence.historicInformation" type="text" aria-describedby="nameHelp" placeholder="Enter historic information">
              </div>
            </div>
          </div>
        <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <input id="original" ng-model="evidence.original" type="checkbox">
                <label for="original"> Original</label>
              </div>
              <div class="col-md-6">
                  <label>Scale of Damage </label>
                  <div class="btn-group">
                  <select ng-model="evidence.scaleOfDamage">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <input id="original" ng-model="evidence.public" type="checkbox">
                <label for="original"> Public</label>
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="/show-evidence?id={{evidence.id}}" ng-click="edit()">Save</a>
          <a class="btn btn-danger btn-block" href="/show-evidence?id={{evidence.id}}">Cancel</a>
        </form>
        
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
