<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SmartMuseum Login</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bodyBG" ng-app="BackofficeApp" >
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form name="form" ng-submit="vm.login()" role="form">
                    <div  ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="username">Username</label>
                        <div>
                            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" size="20" required />
                        </div>
                        <!--span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span-->
                    </div>
                    </br>
                    <div  ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <div>
                            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" size="20" required />
                        </div>
                        <!--span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span-->
                    </div>
                    </br>
                    </br>
                    <div align="center">
                        <button ng-controller="LoginCtrl" ng-disabled="form.$invalid || vm.dataLoading" ng-click="login()" class="btn btn-primary btn-xl js-scroll-trigger">Login</button>
                    </div>
                </form>
                <div class="text-center">
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-cookies.min.js"></script>
    <!-- Modules-->
    <script src= "scripts/app.js"></script>
    <script src= "scripts/app.services.js"></script>
    <!-- Services-->
    <script src= "scripts/services/DataService.js"></script>
    <script src= "scripts/services/OperatorService.js"></script>
    <!-- Controllers-->
    <script src= "scripts/controllers/LoginCtrl.js"></script>
</body>

</html>
