<!DOCTYPE html>
<html ng-app="BackofficeApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Smartmuseum Museum</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
    <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
</head>

<body class="bodyBG" >
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register a Operator</div>
      <div class="card-body">
        <form>
            
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="name">Name</label>
                <input class="form-control" id="name" ng-model="name" type="text" aria-describedby="nameHelp" placeholder="Enter name">
              </div> 
              <div class="col-md-6">
                <label for="surname">Surname</label>
                <input class="form-control" id="surname" ng-model="surname" type="text" aria-describedby="nameHelp" placeholder="Enter surname">
              </div>
            </div>
          </div>
            
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="username">Username</label>
                <input class="form-control" id="username" ng-model="username" type="text" aria-describedby="nameHelp" placeholder="Enter username">
              </div> 
              <div class="col-md-6">
                <label for="password">Password</label>
                <input class="form-control" id="password" ng-model="password" type="text" aria-describedby="nameHelp" placeholder="Enter password">
              </div>
            </div>
          </div>
            
          <div class="form-group" ng-controller="museumCtrl">
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">Email</label>
                <input class="form-control" id="email" ng-model="email" type="text" aria-describedby="nameHelp" placeholder="Enter email">
              </div> 
              <div class="col-md-6" >
                  <label for="museum">Museum</label></br>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Museum<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" ng-repeat="museum in museums">
                    <li>{{museum.name}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                  <label for="email">Is Admin</label></br>
                <input id="Admin" ng-model="admin" type="checkbox">
              </div> 
            </div>
          </div>
            
          <a class="btn btn-primary btn-block" href="login.html">Register</a>
        </form>
          
        
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="scripts/app.js"></script>
    <script src= "scripts/controllers/MuseumCtrl.js"></script>
</body>

</html>
