<!DOCTYPE html>
<html ng-app="BackofficeApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Smartmuseum</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bodyBG">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Evidence</div>
      <div class="card-body">
        <form>
            <!-- coppia -->
          
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="number">Number</label>
                <input class="form-control" type="text" numbersOnly ng-model="vm.number" aria-describedby="nameHelp" placeholder="Enter number">
              </div>
              <div class="col-md-6">
                <label for="domain">Domain</label>
                <input class="form-control" id="domain" ng-model="vm.domain" type="text" aria-describedby="nameHelp" placeholder="Enter domain">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="type">Type</label>
                <input class="form-control" id="type" ng-model="vm.type" type="text" aria-describedby="nameHelp" placeholder="Enter type">
              </div>
              <div class="col-md-6">
                <label for="title">Title</label>
                <input class="form-control" id="title" ng-model="vm.title" type="text" aria-describedby="nameHelp" placeholder="Enter title">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="material">Material</label>
                <input class="form-control" id="material" ng-model="vm.material" type="text" aria-describedby="nameHelp" placeholder="Enter material">
              </div>
              <div class="col-md-6">
                <label for="technique">Technique</label>
                <input class="form-control" id="technique" ng-model="vm.technique"type="text" aria-describedby="nameHelp" placeholder="Enter technique">
              </div>
            </div>
          </div>
            <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="culture">Culture</label>
                <input class="form-control" id="culture" ng-model="vm.culture" type="text" aria-describedby="nameHelp" placeholder="Enter culture">
              </div>
              <div class="col-md-6">
                <label for="period">Period</label>
                <input class="form-control" id="period" ng-model="vm.period" type="text" aria-describedby="nameHelp" placeholder="Enter period">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="author">Author</label>
                <input class="form-control" id="author" ng-model="vm.author" type="text" aria-describedby="nameHelp" placeholder="Enter author">
              </div>
              <div class="col-md-6">
                <label for="dimensions">Dimensions</label>
                <input class="form-control" id="dimensions" ng-model="vm.dimensions" type="text" aria-describedby="nameHelp" placeholder="Enter dimensions">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="weight">Weight</label>
                <input class="form-control" type="text" numbersOnly id="weight" ng-model="vm.weight" aria-describedby="nameHelp" placeholder="Enter weight">
              </div>
              <div class="col-md-6">
                <label for="value">Value</label>
                <input class="form-control" id="value" ng-model="vm.value" type="text" aria-describedby="nameHelp" placeholder="Enter value">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="otherData">Other Data</label>
                <input class="form-control" id="otherData" ng-model="vm.otherData" type="text" aria-describedby="nameHelp" placeholder="Enter other data">
              </div>
              <div class="col-md-6">
                <label for="description">Description</label>
                <input class="form-control" id="description" ng-model="vm.description" type="text" aria-describedby="nameHelp" placeholder="Enter description">
              </div>
            </div>
          </div>
        
           <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="restauration">Restauration</label>
                <input class="form-control" id="restauration" ng-model="vm.restauration" type="text" aria-describedby="nameHelp" placeholder="Enter restauration">
              </div>
              <div class="col-md-6">
                <label for="originPlace">Origin Place</label>
                <input class="form-control" id="originPlace" ng-model="vm.originPlace" type="text" aria-describedby="nameHelp" placeholder="Enter Origin Place">
              </div>
            </div>
          </div>
              <!-- coppia -->
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="storageLocation">Storage Location</label>
                <input class="form-control" id="storageLocation" ng-model="vm.storageLocation" type="text" aria-describedby="nameHelp" placeholder="Enter storage_location">
              </div>
              <div class="col-md-6">
                <label for="historicInformation">Historic Information</label>
                <input class="form-control" id="historicInformation" ng-model="vm.historicInformation" type="text" aria-describedby="nameHelp" placeholder="Enter historic information">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="owner">Owner</label>
                <input class="form-control" id="owner" ng-model="vm.owner" type="text" aria-describedby="nameHelp" placeholder="Enter owner">
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6" >
                  <label>Scale of Damage </label>
                  <div class="btn-group">
                  <select ng-model="vm.scaleOfDamage">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <input id="original" ng-model="vm.original" type="checkbox">
                <label for="original"> Original</label>
              </div>
            </div>
          </div>
            <!-- singolo -->
          <div class="form-group">
            <div class="form-row">
              
            </div>
            </div>
          <a class="btn btn-primary btn-block" ng-click="register()">Register</a>
        </form>
        
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Modules-->
  <script src= "scripts/app.js"></script>
  <script src= "scripts/app.services.js"></script>
  <!-- Services-->
  <script src= "scripts/services/DataService.js"></script>
  <!-- Controllers-->
  <script src= "scripts/controllers/tables/RegisterEvidenceCtrl.js"></script>
  <script src= "scripts/controllers/LoginCtrl.js"></script>
</body>

</html>
