<!DOCTYPE html>
<html ng-app="BackofficeApp" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Smartmuseum</title>
</head>

<body class="bodyBG" ng-controller="ShowEvidenceCtrl" >
  <!--div class="container" ng-repeat=""-->
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Evidence</div>
      <div class="card-body">
        <form>
            <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="number" style="color: #778899">ID: </label>
                <label for="number">{{vm.evidence.id}}</label>
              </div>
              <div class="col-md-6">
                <label for="domain" style="color: #778899">Operator: </label>
                <a href="/show-operator?id={{vm.evidence.operator.id}}" for="domain">{{vm.evidence.operator.username}}</a>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="number" style="color: #778899">Number: </label>
                <label for="number">{{vm.evidence.number}}</label>
              </div>
              <div class="col-md-6">
                <label for="domain" style="color: #778899">Domain: </label>
                <label for="domain">{{vm.evidence.domain}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="type" style="color: #778899">Type: </label>
                <label for="type">{{vm.evidence.type}}</label>
              </div>
              <div class="col-md-6">
                <label for="title" style="color: #778899">Title: </label>
                <label for="title">{{vm.evidence.title}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="material" style="color: #778899">Material: </label>
                <label for="material">{{vm.evidence.material}}</label>
              </div>
              <div class="col-md-6">
                <label for="technique" style="color: #778899">Technique: </label>
                <label for="technique">{{vm.evidence.technique}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="culture" style="color: #778899">Culture: </label>
                  <label for="technique">{{vm.evidence.culture}}</label>
              </div>
              <div class="col-md-6">
                <label for="period" style="color: #778899">Period: </label>
                  <label for="technique">{{vm.evidence.period}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="author" style="color: #778899">Author: </label>
                <label for="author">{{vm.evidence.author}}</label>
              </div>
              <div class="col-md-6">
                <label for="dimensions" style="color: #778899">Dimensions: </label>
                <label for="dimensions">{{vm.evidence.dimensions}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="weight" style="color: #778899">Weight: </label>
                <label for="weight">{{vm.evidence.weight}}</label>
              </div>
              <div class="col-md-6">
                <label for="value" style="color: #778899">Value: </label>
                <label for="value">{{vm.evidence.value}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="otherData" style="color: #778899">Other Data: </label>
                <label for="value">{{vm.evidence.otherData}}</label>
              </div>
              <div class="col-md-6">
                <label for="description" style="color: #778899">Description: </label>
                  <label for="value">{{vm.evidence.description}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="restauration" style="color: #778899">Restauration: </label>
                  <label for="value">{{vm.evidence.restauration}}</label>
              </div>
              <div class="col-md-6">
                <label for="originPlace" style="color: #778899">Origin Place: </label>
                  <label for="value">{{vm.evidence.originPlace}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="storageLocation" style="color: #778899">Storage Location: </label>
                  <label for="value">{{vm.evidence.storageLocation}}</label>
              </div>
              <div class="col-md-6">
                <label for="historicInformation" style="color: #778899">Historic Information: </label>
                  <label for="value">{{vm.evidence.historicInformation}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="owner" style="color: #778899">Owner: </label>
                  <label for="value">{{vm.evidence.owner}}</label>
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-6" >
                  <label style="color: #778899">Scale of Damage: </label>
                  <label for="value">{{vm.evidence.scaleOfDamage}}</label>
              </div>
              <div class="col-md-6">
                <label for="original" style="color: #778899">Original: </label>
                  <label for="value">{{vm.evidence.original}}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <img src="{{vm.qrcode}}" alt="QR Code" height="200" width="200"> 
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="/edit-evidence?id={{vm.evidence.id}}">Edit</a>
          <a class="btn btn-success btn-block" href="/public-evidence?id={{vm.evidence.id}}">Public</a>
          <a class="btn btn-danger btn-block" href="/table-evidences" ng-click="deleteRow()" >Delete</a>
        </form>
        
      </div>
    </div>
  </div>
  <!-- QR Code-->
  <script type="text/javascript" src="js/qrcode/qrcode.js"></script>
  <script type="text/javascript" src="js/qrcode/qrcode_UTF8.js"></script>
  <script type="text/javascript" src="js/qrcode/angular-qrcode.js"></script>
  <!-- Controllers-->
  <script src="scripts/app.js"></script>
  <script src="scripts/app.services.js"></script>
  <script src="scripts/controllers/show/ShowEvidenceCtrl.js"></script>
</body>

</html>
